html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------------- App */

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app:first-child, .app:last-child {
  font-size: large;
  font-weight: 200;
  text-align: center;
}

/* -------------------------------------------------------- all / Navbar */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 15.5vw;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

.navbar * {
  margin-top: 5vh;
}

.navbar-btn {
  background: #cddfdb;
  width: fit-content;
  padding: 1rem 3rem;
  border-radius: 5rem;
  cursor: pointer;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

.navbar-btn:hover, .navbar-btn:active {
  background: rgb(226, 226, 226);
}

/* -------------------------------------------------------- all / Folders */

.folders {
  background: rgb(238, 238, 238);
  flex: 1;
  height: 100vh;
  overflow: auto;
  padding: 0 2vw;
}

.grid-folder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-row-gap: 5vh;
  margin-top: 9vh;
  margin-bottom: 9vh;
}

.grid-folder-block {
  color: rgb(136, 136, 136);
  background: #cddfdb;
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
}

.grid-folder-block:hover, .grid-folder-block:active {
  background: #b9cdc9;
}

.grid-folder-name {
  background: #ffffff;
  font-size: 2.3rem;
  font-weight: 200;
  padding: 1.2rem 0;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

/* -------------------------------------------------------- all / Links */

.grid-folder-link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 0.8vh;
  padding: 0.9vh;
}

.grid-folder-link-block {
  color: rgb(136, 136, 136);
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  height: 11vw;
  width: 11vw;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.12);
}

.grid-folder-block:hover .grid-folder-link-block,
.grid-folder-block:active .grid-folder-link-block {
  background: #fbfefe;
}

/* -------------------------------------------------------- all / Paths */

.paths {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  overflow: scroll;
}

/* -------------------------------------------------------- single / Info */

.info {
  background: #cddfdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 15.5vw;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

.info * {
  margin-top: 5vh;
}

.info-btn {
  background: #ffffff;
  width: fit-content;
  padding: 1rem 3rem;
  border-radius: 5rem;
  cursor: pointer;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

.info-btn:hover, .info-btn:active {
  background: rgb(226, 226, 226);
}

/* -------------------------------------------------------- single / Links */

.links {
  flex: 1;
  height: 100vh;
  overflow: auto;
  padding: 0 2vw;
}

.grid-link {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  grid-row-gap: 5vh;
  margin-top: 9vh;
  margin-bottom: 9vh;
}

.grid-link-block {
  color: rgb(129, 129, 129);
  background: #f9f9f9;
  font-size: 2rem;
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
}

.grid-link-block:hover, .grid-link-block:active {
  color: rgb(116, 116, 116);
  background: #cddfdb;
}

.grid-linkcaption {
  background: #ffffff;
  font-size: 2rem;
  font-weight: 200;
  padding: 1.2rem 0;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
}

.grid-link-block:hover .grid-linkcaption,
.grid-link-block:active .grid-linkcaption {
  background: #fbfefe;
}

/* -------------------------------------------------------- single / Paths */

.grid-link-paths {
  height: 13vw;
  width: 14vw;
  padding: 1.4rem;
}






















