html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------------- App */

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app:first-child, .app:last-child {
  font-size: large;
  font-weight: 200;
  text-align: center;
}

/* -------------------------------------------------------- Navbar */

.navbar {
  height: 100vh;
  width: 15vw;
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.119);
}

.navbar * {
  margin-top: 5vh;
}

/* -------------------------------------------------------- Folders */

.folders {
  background: rgb(234, 234, 234);
  flex: 1;
  height: 100vh;
  overflow: auto;
}

.folders-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-row-gap: 5vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.grid-folder {
  color: rgb(136, 136, 136);
  background: #ffffff;
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

.grid-foldername {
  padding: 1rem 0;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

.links-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 0.8vh;
  padding: 0.8vh;
}

.grid-link {
  color: rgb(136, 136, 136);
  background: #ffffff;
  word-wrap: break-word;
  text-align: center;
  height: 11vw;
  width: 11vw;
  padding: 0px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.12);
}
