html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------------- App */

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app:first-child, .app:last-child {
  font-size: large;
  font-weight: 200;
  text-align: center;
}

/* -------------------------------------------------------- Navbar */

.navbar {
  background: rgb(234, 234, 234);
  height: 100vh;
}

.navbar * {
  margin-top: 5vh;
}

/* -------------------------------------------------------- Folders */

.folders {
  flex: 1;
  height: 100vh;
}

.folders * {
  margin-top: 5vh;
}
